<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<display-name>Corpus</display-name>
	
	<servlet>
		<servlet-name>Vaadin</servlet-name>
		<servlet-class>com.vaadin.server.VaadinServlet</servlet-class>

		<init-param>
			<param-name>UI</param-name>
			<param-value>hu.bugbusters.corpus.core.vaadin.CorpusUI</param-value>
		</init-param>

		<init-param>
			<param-name>widgetset</param-name>
			<param-value>hu.bugbusters.corpus.core.vaadin.CorpusWidgetSet</param-value>
		</init-param>

	</servlet>

	<servlet-mapping>
		<servlet-name>Vaadin</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Vaadin</servlet-name>
		<url-pattern>/VAADIN/*</url-pattern>
	</servlet-mapping>
	
</web-app>