*.settings/
*/.build/
*/.tern-project
*/.apt_generated/

*.factorypath
*.classpath
*/bin/

*.project
*/target
/target

/corpus-web/src/main/webapp/VAADIN/gwt-unitCache
/corpus-web/src/main/webapp/VAADIN/widgetsets/WEB-INF/deploy/hu.bugbusters.corpus.core.vaadin.CorpusWidgetSet/rpcPolicyManifest
/corpus-web/src/main/webapp/VAADIN/widgetsets/hu.bugbusters.corpus.core.vaadin.CorpusWidgetSet

.idea/
*.iml