<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
		"classpath://org/hibernate/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.datasource">java:/jndi/corpusDatasource</property>
		<property name="hibernate.default_schema">CORPUS</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="hibernate.id.new_generator_mappings">false</property>
		<property name="show_sql">true</property>
		<property name="hibernate.jdbc.batch_size">20</property>

		<mapping class="hu.bugbusters.corpus.core.bean.Course" />
		<mapping class="hu.bugbusters.corpus.core.bean.RegisteredUser" />
		<mapping class="hu.bugbusters.corpus.core.bean.PasswordSettings" />
		<mapping class="hu.bugbusters.corpus.core.bean.Message" />
		<mapping class="hu.bugbusters.corpus.core.bean.Inbox" />
		<mapping class="hu.bugbusters.corpus.core.bean.InboxId" />
	</session-factory>
</hibernate-configuration>