// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

$v-app-loading-text: "Loading";
$v-background-color: #1a61b7;
$v-focus-color: #fff;
$v-panel-background-color: $v-background-color;
$v-overlay-background-color: $v-background-color;
$valo-menu-background-color: $v-background-color;
$v-overlay-shadow: 0 0 0 1px rgba(#fff, .5);
$v-window-shadow: $v-overlay-shadow;
$v-window-modality-curtain-background-color: $v-background-color;
$v-bevel: false;
$v-gradient: false;
$v-shadow: false;
$v-textfield-bevel: false;
$v-textfield-shadow: false;
$v-border: 1px solid (v-tint 1.5);
$v-textfield-background-color: $v-background-color;
$v-font-family: sans-serif;
$v-font-size: 18px;
$valo-menu-background-color: #433;

@import "../valo/valo";
@import "../valo/valo.scss";

@mixin CorpusTheme {
  @include valo;

  // Insert your own theme rules here
    .v-login{
      background-image: url(wp.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
  }

    .valo-email-menu{
        border-bottom: 1px solid #ccc;
        border-right: none;
        width: 100%;
        height: 49px;
        padding-bottom: 0px;
    }

    .valo-menu-part-email{
        padding-bottom: 20px;
        padding-right: 40px;
    }

    .valo-email{
        display: inline-block;
        padding-left: 40px;
        padding-right: 40px;
    }

    .newEmailButton{

        font-size: 21px;

        .v-icon{
            font-size: 49px;
        }

        &:hover{
            color: white;
            .v-icon{
                color: white;
            }
        }
    }

    .bicon{
        .v-icon{
            font-size: 25px;
        }
    }

    .emailHeader{
        height: 20px;
        border-bottom: 1px solid #ccc;
        padding: 25px 30px 25px 30px;
    }

    .notSeen{
        border: 0px;
        .v-icon{
            color: #4cff00;

            &:hover{
                border: 0px;
            }
            &:focus{
                border: 0px;
            }
            &:after{
                border: 0px;
            }
            &:active{
                border: 0px;
                opacity: 1;
            }
        }
    }

    .seen{
        border: 0px;
        .v-icon{
            opacity: 0;

            &:hover{
                border: 0px;
            }
            &:focus{
                border: 0px;
            }
            &:after{
                border: 0px;
            }
            &:active{
                border: 0px;
                opacity: 1;
            }
        }
    }
    
    .subWindow{
        background-color: #fff;
    }

    .v-app-loading{
        height: 100%; 
	    width: 100%;
    }
    .v-app {
        height: 100%;
        width: 100%;
        
    } 

    .v-app-loading:before{
        background: #1a61b7 url(load.gif) no-repeat 50%;
        background-size: 70px;
	    border-radius: 4px;
        width: 70px;
	    height: 70px;
        content: "";
	    position: fixed;
	    z-index: 100;
	    top: 45%;
	    left: 50%;
	    padding: 0px;
	    margin-top: -35px;
	    margin-left: -35px;
    }

    /*.v-menuitem{
        background-color : #b6b6b6;
        border-radius: 0px 0px 10px 10px;
        border-width: 0px 2px 2px 2px;
        border-style: inset;
    }

    .v-menutitle{
        background-color: #069ed2;
        border-style: inset;
        border-width: 2px 2px 0px 2px;
        padding: 0px;
        border-radius: 10px 10px 0px 0px;
        color:##cacaca;
    }

    .valo-menu-item{
        
    }

    .v-horizontallayout{
        //background: #6ccfff;
    }
        */
}